@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loginbox {
  height: 80vh;
  display: flex;
}
.loginbox .loginbox-container {
  margin: auto;
}
.loginbox .loginbox-container .isread {
  width: 180px;
  height: 180px;
}
.Headerbox {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  width: 100%;
  height: 100%;
}
.Headerbox .avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.Headerbox .avatar .avatername {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: white;
  margin-left: 10px;
}
.Headerbox .search {
  display: flex;
}
.Headerbox .search .searchgroup {
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
.Headerbox > div {
  margin-left: 10px;
  line-height: 40px;
}
.music-container {
  display: flex;
}
.music-container .container-left {
  flex: 1;
}
.music-container .container-left .left-sticky {
  position: sticky ;
  top: 60px;
  height: 100vh;
}
.music-container .container-left .left-sticky .fold {
  position: absolute;
  top: 10px;
  left: 50%;
  opacity: 0;
  width: 100px;
  height: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 1s;
  cursor: pointer;
  z-index: 10;
}
.music-container .container-left .left-sticky .container {
  height: 100%;
  overflow: auto;
  position: relative;
  transition: all 0.5s;
  border-bottom: 1px solid #ccc;
  background-color: #f0f2f5;
  z-index: 3;
}
.music-container .container-left .left-sticky .container .musicInfo .title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.music-container .container-left .left-sticky .container .musicInfo .title .title-name {
  font-size: 30px;
  font-weight: bold;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics {
  display: flex;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .recordBox {
  padding: 20px;
  display: flex;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .recordBox .record {
  width: 20vw;
  height: 20vw;
  position: relative;
  border-radius: 50%;
  margin: auto;
  background-color: #232322;
  background: repeating-radial-gradient(circle at 50% 50%, rgba(204, 204, 204, 0) 0em, rgba(204, 204, 204, 0) 0.5em, #2f3033 0.5em, #37393b 0.55em);
  animation: roll 10s linear infinite;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .recordBox .record .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 50%;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .recordBox .move {
  animation-play-state: running;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .recordBox .stop {
  animation-play-state: paused;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics {
  position: relative;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul {
  height: 500px;
  width: 100%;
  overflow: auto;
  transition: all 1s;
  padding: 0;
  padding-top: 200px;
  text-align: center;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul .lyrics-li {
  margin-top: 20px;
  color: #63625c;
  position: relative;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul .lyrics-li .top {
  font-size: 20px;
  font-weight: bold;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul .lyrics-li .bottom {
  font-weight: 100;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul .playing {
  color: red !important;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul::-webkit-scrollbar {
  width: 4px;
  display: none;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul:hover::-webkit-scrollbar {
  display: block;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics .lyrics-ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, #f0f2f5, rgba(255, 255, 255, 0));
  top: 0;
  left: 0;
}
.music-container .container-left .left-sticky .container .musicInfo .record-lyrics .lyrics::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, #f0f2f5, rgba(255, 255, 255, 0));
  bottom: 0;
  left: 0;
}
.music-container .container-left .left-sticky .container .comment-container .title-all {
  text-align: center;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all {
  display: flex;
  flex-direction: column;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all .commentbox {
  margin: 10px auto;
  display: flex;
  width: 90%;
  padding: 10px 0;
  border-bottom: 0.5px dashed #ccc;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all .commentbox .comment {
  flex: 1;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all .commentbox .comment .nickname {
  cursor: pointer;
  color: #507daf;
  margin-right: 10px;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all .commentbox .comment .time-like {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.music-container .container-left .left-sticky .container .comment-container .comment-all .commentbox .comment .time-like .like {
  cursor: pointer;
}
.music-container .container-left .left-sticky .container .comment-container .bottom-hot {
  display: flex;
}
.music-container .container-left .left-sticky .container .comment-container .bottom-hot .bottom {
  margin: auto;
}
.music-container .container-left .left-sticky .homePage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-y: overlay;
}
.music-container .container-left .left-sticky .homePage .recomend {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-row-gap: 15px;
  grid-column-gap: 2%;
  overflow: auto;
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one {
  text-align: center;
  cursor: pointer;
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one .imgbox {
  width: 100%;
  text-align: center;
  position: relative;
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one .imgbox .img {
  margin: auto;
  width: 100%;
  border-radius: 3px;
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one .imgbox .daily {
  background: linear-gradient(#e66465, #9198e5);
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one .imgbox .coverBox {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.music-container .container-left .left-sticky .homePage .recomend .recomend-one .imgbox .coverBox:hover {
  opacity: 1;
}
.music-container .container-left .left-sticky .homePage::-webkit-scrollbar {
  width: 2px;
  display: none;
}
.music-container .container-left .left-sticky .homePage:hover::-webkit-scrollbar {
  display: block;
}
.music-container .container-left .left-sticky .homePage::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.music-container .container-left .left-sticky .homePage::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.music-container .container-left .left-sticky .container::-webkit-scrollbar {
  width: 4px;
  display: none;
}
.music-container .container-left .left-sticky .container:hover::-webkit-scrollbar {
  display: block;
}
.music-container .container-left .left-sticky .container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.music-container .container-left .left-sticky .container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.music-container .container-left .left-sticky:hover .fold {
  opacity: 1;
}
.music-container .container-right {
  flex: 1;
}
.music-container .container-right .Playlist {
  background-color: transparent;
  border: none;
  user-select: none;
  margin-top: 10px;
}
.music-container .container-right .Playlist .listbox {
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 10px;
}
.music-container .container-right .Playlist .listbox .describe {
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.music-container .container-right .Playlist .listbox .describe .coverimg {
  height: 80%;
}
.music-container .container-right .Playlist .listbox .describe .describe-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.music-container .container-right .Playlist .listbox .describe .describe-text .top {
  font-weight: bold;
}
.music-container .container-right .Playlist .listbox .describe:hover {
  background-color: #e4e4e4;
}
.music-container .container-right .oddRow {
  background-color: #fafafa;
}
.music-container .container-right .evenRow {
  background-color: #ffffff;
}
.music-container .container-right .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #e5e5e5;
  cursor: pointer;
}
.playList {
  position: fixed;
  display: flex;
  bottom: 10px;
  width: 90%;
  left: 5%;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: linear-gradient(to top, #232322, #262625);
  z-index: 10;
}
.playList .musicInfo {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.playList .musicInfo .InfoContainer {
  margin: auto;
  display: flex;
}
.playList .musicInfo .InfoContainer .musicbox {
  width: 70px;
}
.playList .musicInfo .InfoContainer .songInfo {
  max-width: 200px;
  margin-left: 20px;
  color: white;
}
.playList .musicInfo .InfoContainer .songInfo .musicName {
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.playList .playList_controller {
  flex: 2;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}
.playList .playList_controller .play {
  flex: 2;
  display: flex;
  justify-content: center;
  color: white;
}
.playList .playList_controller .play .play_player {
  margin: auto;
  font-size: 20px;
}
.playList .playList_controller .play .play_player > span {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}
.playList .playList_controller .range {
  flex: 1;
  display: flex;
  align-items: center;
}
.playList .playList_controller .range .currenttime {
  flex: 2;
  color: white;
  text-align: right;
  margin-right: 10px;
}
.playList .playList_controller .range .range_Slider {
  flex: 9;
  margin: auto;
}
.playList .playList_controller .range .totaltime {
  flex: 2;
  color: white;
  margin-left: 10px;
}
.playList .set {
  flex: 1.5;
  border: 1px solid #e5e5e5;
}
.commentbox {
  margin: 10px auto;
  display: flex;
  width: 90%;
  padding: 10px 0;
  border-bottom: 0.5px dashed #ccc;
}
.commentbox .comment {
  flex: 1;
}
.commentbox .comment .nickname {
  cursor: pointer;
  color: #507daf;
  margin-right: 10px;
}
.commentbox .comment .time-like {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.commentbox .comment .time-like .like {
  cursor: pointer;
}
.banner {
  width: 100%;
  height: 20vh;
  margin-top: 10px;
}
.banner .banner-container {
  margin: auto;
  width: 80%;
  height: 100%;
  position: relative;
}
.banner .banner-container .imageBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.banner .banner-container .imageBox .image {
  height: 100%;
  user-select: none;
}
.banner .banner-container .imageBox .title {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  border-radius: 5px 0 0 0 ;
  padding: 0 10px;
}
.banner .banner-container .banner-before {
  left: 0;
}
.banner .banner-container .banner-after {
  right: 0;
}
.banner .banner-container .button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}
.banner .banner-container:hover .button {
  opacity: 1;
}
